.header {

  // height: 450px;
  background-image: url(../../assets/images/header/header-bg.png);
  background-position: center top;
  background-size: contain;
  background-repeat: repeat-x;
  margin-bottom: 6.25rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row-1 {
    padding-top: 1.875rem;
    color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // &__menu {
  //   display: block;
  // }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin: 0 0.9375rem;
  }

  &__link {
    padding: 0.9375rem 1.5625rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border-bottom: 0.0625rem solid transparent;
    transition: $transition;

    &:hover {
      border-color: $bg-color;
      border-radius: 0.3rem;
    }
  }

  &__link--active {
    border: 0.0625rem solid $bg-color;
  }

  &__btn-order {
    @include btn-order;
    transition: $transition;
    font-size: 0;

    &:hover {
      font-size: 1rem;
    }
  }

  &__btn-order-img {
    width: 1.5rem;
    height: auto;
  }

  &__row-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12rem;
  }

  &__contacts {
    display: flex;
  }

  &__social-icons {
    margin-right: 3.125rem;
    display: flex;
    align-items: flex-end;
  }

  &__facebook {
    background: url('../../assets/images/social/header-facebook.svg');
    background-size: 50%;
    background-position: center 0;
  }

  &__instagram {
    background: url('../../assets/images/social/header-instagram.svg');
    background-size: 85%;
    background-position: center 0;
  }

  &__viber {
    background: url('../../assets/images/social/header-viber.svg');
    background-size: 85%;
  }

  &__telegram {
    background: url('../../assets/images/social/header-telegram.svg');
    background-size: 85%;
  }

  &__social-icon {
    background-repeat: no-repeat;
    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-block;
    padding: 1.25rem;
    border-bottom: 0.125rem solid $bg-color;
    transition: $transition;
    margin: 0.9375rem;

    &:hover {
      border-color: $akcent-color;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: right;
    font-size: 1.375rem;
    font-weight: $fw-bold;
  }

  &__phone span {
    border-bottom: 0.0625rem solid transparent;

    &:hover {
      color: $akcent-color;
    }
  }

  &__feedback {
    @include btn-order;
    background-color: $akcent-color;
    border-color: $akcent-color;
    transition: $transition;

    &:hover {
      background-color: $btn-color;
      border-color: $btn-color;
    }
  }
}